SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
DATABASE_URL=jdbc:postgresql://postgresql:5432/pw45s
DATABASE_NAME=pw45s
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
GOOGLE_CLIENT_ID=xxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET_NAME=pw45s
MINIO_IMAGE_SIZE=10485760
MINIO_FILE_SIZE=104857600
